<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Scanner</title>
	<script src="script.js" ></script>
	<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js" ></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<h1 id="header-title">
		Barcode scanner
	</h1>

	<div id="without-session">
		<button onclick="createSession()">
			Create session
		</button>

		<div id="join-session-container">
			<input id="join-session-input" placeholder="123-ABC"  />
			<button onclick="joinSessionClicked()" id="join-session-button">Join session</button>
			<p id="join-session-error"></p>
		</div>
	</div>

	<div id="with-session">
		<h2 id="session-id-field">Session:</h2>
		<div id="session-display">
			<ul id="scan-list">
			</ul>

			<div id="qrcode">

			</div>
		</div>
	</div>

</body>
</html>