#header-title {
	text-align: center;
}

#with-session {
	width: 50%;
	padding-left: 25%;
}

#without-session {
	width: 50%;
	padding-left: 25%;
}

#join-session-container {
	float: right;
}

#join-session-error {
	color: red;
}

#session-display {
	display: inline;
}

#qrcode {
	float: right;
}